
.one {
    color: white;
    margin: 30px auto;
    background: green;
    width: 300px;
    height: 300px;
    position: relative;
    text-align: center;
    border: solid black 15px;
    outline: 15px solid blue;

}
.two {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}
