* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
}
div {
    display: block;
}
body, h1, h2 {
    font-family: "Krub", sans-serif;
    font-weight: 400;
}
h3 {
    font-family: "Krub", sans-serif ;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
}
.h1-font {
    font-size: 70px;
}
.h2-font {
    font-size: 30px;
}
strong, b {
    font-weight: bold;
}
.m1-bar {
    background-color: white;
    opacity: 0.6;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;


}
.m1-right {
    margin-right: 100px;
}
.bar1 {
    width: 25%;
    float: left;
    padding-top: 20px;


}
.bar2 {
    width: 25%;

}
.block1 {
    text-align: center;
    min-height: 100%;
    height: 100%;
    background-repeat: no-repeat;
    color: white;
    position: relative;

}
.block2 {

    padding: 20px;
}

#fon {
    background: url("img/wedding_couple.jpg") center;
    background-size: cover;
    padding: 20px;
    filter: grayscale(50%);
}
#fon2 {
    background-color: #F2E1E1;
    background-size: cover;
}
.block2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;

}
.m1-botton {
    text-decoration: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    color: black;

}